<header class="side-template-v3__desktop-header display@md">
    <div class="flex-grow grid gap-md justify-between padding-left-md">
        <div class="col col-5@lg">
            {% if config.theme.layout.search %}
            {% include "layout_2-search_input.html" %}
            {% endif %}
        </div>

        <!-- <div class="col-content">
            <ul class="flex gap-sm items-center">
                <li><a class="btn btn--subtle btn--sm" href="login.html">Login</a></li>
                <li><a class="btn btn--primary btn--sm" href="sign-up.html">Signup</a></li>
            </ul>
        </div> -->
        
    </div>
</header>